#NgApp {
  margin: auto;
  width: 990px;
}

#ngpage {
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-right: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  behavior: url(/arch/lib/csspie/PIE.htc);
  position: relative;
  overflow: hidden;
  width: 984px;
  margin: 0 auto;
  background: white;
  border: 3px solid #DCDCDC;
  border-top: none;
}
